* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.submit-btn {
    display: block;
    background: transparent;
    color: #1971c4;
    border-radius: 5px;
    border: 2px solid #1971c4;
    box-shadow:inset 0 0 0 0.09px #1971c4;;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    width: fit-content;
    transition: 0.3s ease-in;
}
.submit-btn:hover {
    color: #f2f2f2;
    box-shadow:inset 200px 0 0 0 #1971c4;
    overflow: hidden;
}
.note-input {
    outline: none;
    border: none;
    padding: 0.2rem 1ch;
    border-radius: 8px;
    border: 2px solid #1971c4;
    transition:  0.3s ease-in-out;
    width: 80%;
}
.note-input:focus {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #1971c4;
}
form h1 {
    font-size: 2rem;
    text-align: center;
    color: #1971c4;
    text-transform: uppercase;
}
.note-form {
    padding: 5rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.pdf-btn {
    display: block;
    background: transparent;
    color: tomato;
    border-radius: 5px;
    border: 2px solid tomato;
    box-shadow:inset 0 0 0 0.09px tomato;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    width: fit-content;
    transition: 0.3s ease-in;
}
.pdf-form {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pdf-btn:hover {
    color: #f2f2f2;
    box-shadow:inset 200px 0 0 0 #dd0000;
    overflow: hidden;
}